<template name="listing">
  <div class="row">
    <div class="col-xs-12" style="margin-bottom:20px;">
      <h1>Recipes</h1>
    </div>
  </div>
  {{#if currentUser}}
  <a class="btn btn-success btn-block" href="/newRecipe">New</a>
  {{/if}}
  <ul class="list-group">
    {{#each entries}}
    <li class="list-group-item"><a href="/recipe/{{_id}}">{{title}}</a>
      {{#if isOwner}}
      <a class="list-button edit btn btn-default btn-xs" href="/editRecipe/{{_id}}">Edit</a>
      <button class="list-button delete btn btn-danger btn-xs">delete</button>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</template>