<template name="recipeForm">
    <h1>{{showTitle}}</h1>
    {{#with recipe}}
    <form id="recipeForm">
        <div>
            <input type="text" id="title" placeholder="title" value="{{title}}" required />
        </div>
        <div>
            <input type="text" id="ingredients" placeholder="ingredients" value="{{ingredients}}" required />
        </div>
        <div>
            <textarea id="instructions" placeholder="instructions" required>{{instructions}}</textarea>
        </div>
        <button type="submit">Save</button>
    </form>
    <a href="/">Back</a>
    {{/with}}
</template>